*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  font-family: $montserrat;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
}
