//fonts
$montserrat: "Montserrat", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;

//colors
$base-white: #ffffff;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;
$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #eae6fc;

//breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
