.catalog {
  background-color: $lightest-grey;
}

.catalog__wrapper {
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    column-gap: 30px;
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__wrapper .section-title {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 40px;
  }
}

.catalog__product-selection {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 10px;
    margin-bottom: 26px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 11px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-image: url("../../icons/select-arrow.svg");
    background-size: cover;
  }
}

.catalog__product-selection:focus-within::after {
  transform: rotate(180deg);
  top: 12px;
}

.catalog__product-selection-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.catalog__product-select {
  position: relative;
  min-width: 165px;
  padding: 4px 10px;
  font-family: $montserrat;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: $base-primary;
  border-radius: 4px;
  appearance: none;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }
}

.catalog__product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0 0 40px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__product {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 20px 20px;
  background-color: $base-white;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }

  @media (min-width: $tablet-width) {
    padding: 50px 30px 30px;
  }
}

.catalog__product picture {
  justify-self: center;
}

.catalog__product-image {
  display: block;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.catalog__product-title {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.catalog__product-description {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.catalog__price-button {
  position: relative;
  padding: 8px 20px 8px 46px;
  font-size: 14px;
  line-height: 20px;
  color: $base-white;
  background-color: $base-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 20px;
    width: 20px;
    height: 16px;
    background-image: url("../../icons/basket-icon.svg");
  }
}

.catalog__pagination-list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.catalog__pagination-button {
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  font-family: $montserrat;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  background-color: $base-white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $base-white;
    background-color: $primary-lighter;
  }

  &:active {
    color: $base-white;
    background-color: $primary-darker;
  }

  &:disabled {
    color: $base-white;
    background-color: $light-grey;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.catalog__pagination-button--active {
  font-weight: 700;
  color: $base-black;
  cursor: not-allowed;
  pointer-events: none;
}

.catalog__pagination-button--rpev,
.catalog__pagination-button--next {
  padding: 8px 20px;
}

.catalog__pagination-button--rpev span,
.catalog__pagination-button--next span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog__pagination-button--rpev svg,
.catalog__pagination-button--next svg {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
