.features {
  background-color: $base-white;
}

.features__wrapper {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.features__wrapper .section-title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__wrapper .section-title__description {
  letter-spacing: 0.04em;
  font-weight: 600;
  margin-left: -2px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: start;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
  }
}

.features__image {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    margin-bottom: 0;
  }
}

.features__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.features__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.features__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
