.features {
  background-color: $base-white;
}

.features-wrapper {
  padding-top: 50px;
  padding-bottom: 60px;
}

.features-wrapper .section-title {
  margin-bottom: 36px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__image {
  margin-bottom: 10px;
}

.features__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px;
}

.features__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
