.main-footer {
  padding: 20px 20px 30px;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 40px 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px auto;
    column-gap: 30px;
    padding: 40px;
  }
}

.main-footer__links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: start;
    margin-bottom: 0;
  }
}

.main-footer__logo {
  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
  }
}

.main-footer__nav {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    margin-bottom: 20px;
  }
}

.main-footer__list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid $base-secondary;
  font-style: normal;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-footer__list-title {
  padding: 0;
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  color: $base-primary;
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.main-footer__list--contacts {
  gap: 16px;
}

.main-footer__item {
  position: relative;
}

.main-footer__item--contacts {
  padding-left: 19px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 13px;
    height: 16px;
  }
}

.main-footer__item--contacts-adress::before {
  background-image: url("../../icons/address-icon.svg");
}

.main-footer__item--contacts-tel::before {
  background-image: url("../../icons/phone-icon.svg");
}

.main-footer__link {
  display: inline-block;
  padding: 8px 0;
  color: $base-black;
  text-decoration: none;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $primary-lighter;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}

.main-footer__link--contacts {
  padding: 0;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 20px 0 0;
  color: $base-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $base-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-primary;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}
