.main-footer {
  background-color: $base-white;
}

.main-footer__links {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid $base-secondary;
}

.main-footer__nav {
  display: flex;
  flex-direction: column;
}

.main-footer__list-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid $base-secondary;
  font-style: normal;
}

.main-footer__list-title {
  padding: 0;
  margin: 0 0 12px;
  font-size: 14px;
  line-height: 20px;
  color: $base-primary;
}

.main-footer__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

.main-footer__list--contacts {
  gap: 16px;
}

.main-footer__item {
  position: relative;
}

.main-footer__item--contacts {
  padding-left: 19px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 13px;
    height: 16px;
  }
}

.main-footer__item--contacts-adress::before {
  background-image: url("../../icons/address-icon.svg");
}

.main-footer__item--contacts-tel::before {
  background-image: url("../../icons/phone-icon.svg");
}

.main-footer__link {
  display: inline-block;
  padding: 8px 0;
  color: $base-black;
  text-decoration: none;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}

.main-footer__link--contacts {
  padding: 0;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 20px 0 30px;
  color: $base-grey;
}

.main-footer__copyright-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $base-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $base-primary;
    outline: none;
  }

  &:active {
    color: $primary-darker;
  }
}
