.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    align-items: stretch;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 40px;
  }
}

.main-header__logo {
  width: 72px;
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    width: 122px;
    padding: 22px 0;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}
