.hero {
  transition: background-color 0.7s ease;
}

.hero:has(.hero__slider-item--flat.hero__slider-item--active) {
  background-color: $flat-white;
}

.hero:has(.hero__slider-item--lavander.hero__slider-item--active) {
  background-color: $lavender-latte;
}

.hero:has(.hero__slider-item--espresso.hero__slider-item--active) {
  background-color: $espresso;
}

.hero__wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 80px 308px;
    margin-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 84px;
    margin-bottom: 0;
  }
}

.hero__slider {
  overflow-x: clip;
}

.hero__slider-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease;
}

.hero__slider-item {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}

.hero__slider-item--flat {
  background-color: $flat-white;
}

.hero__slider-item--lavander {
  background-color: $lavender-latte;
}

.hero__slider-item--espresso {
  background-color: $espresso;
}

.hero__slider-image {
  display: flex;
  width: 280px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 292px;
    left: 50%;
    transform: translateX(-50%);
    width: 476px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    width: 600px;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 10px;
  }
}

.hero__slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-items: start;
    height: 100%;
    padding-top: 150px;
  }
}

.hero__slider-content .section-title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
  }
}

.hero__slider-content .section-title__description {
  font-weight: 700;
  letter-spacing: 0.02em;
}

.hero__slider-content .section-title__text {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }
}

.hero__slider-description {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-bottom: 40px;
  }
}

.hero__slider-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 25px;

  @media (min-width: $desktop-width) {
    gap: 21px;
    padding: 0;
  }
}

.hero__slider-price {
  display: flex;
  gap: 6px;
}

.hero__slider-price-old {
  font-size: 16px;
  line-height: 32px;
  color: $base-primary;
  text-decoration: line-through;
}

.hero__slider-price-new {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.hero__slider-order-button {
  padding: 8px 20px;
  font-family: $montserrat;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  background-color: $base-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    outline: none;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}

.hero__slider-pagination-button {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  &:hover,
  &:focus {
    background-color: $base-white;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%) translateX(-50%);
  }
}

.hero__slider-pagination-button--prev {
  left: 0;

  &:active {
    background: linear-gradient(to right, $primary-opacity 0%, transparent);
  }

  &:disabled::after {
    background-image: url("../../icons/arrow-prev-disabled.svg");
  }

  &::after {
    background-image: url("../../icons/arrow-prev.svg");
  }
}

.hero__slider-pagination-button--next {
  right: 0;

  &:active {
    background: linear-gradient(to left, $primary-opacity 0%, transparent);
  }

  &:disabled::after {
    background-image: url("../../icons/arrow-next-disabled.svg");
  }

  &::after {
    background-image: url("../../icons/arrow-next.svg");
  }
}

.hero__slider-pagination-list {
  display: none;
  height: 25px;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
}

.hero__slider-pagination-item {
  display: flex;
  align-items: center;
}

.hero__slider-pagination-indicator {
  width: 62px;
  height: 4px;
  border: none;
  background-color: $base-white;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $primary-opacity;
    outline: none;
  }

  &:active {
    background-color: $base-primary;
  }
}

.hero__slider-pagination-indicator--active {
  background-color: $base-primary;
}
