.main-nav {
  position: absolute;
  top: 60px;
  width: 100%;
  display: block;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid #f0ebff;
}

.main-nav--is-close .main-nav__list {
  display: none;
}

.main-nav__item {
  width: 100%;
  border-bottom: 1px solid #f0ebff;
}

.main-nav__link {
  display: block;
  padding: 20px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    color: #7859cf;
    outline: none;
  }

  &:active {
    background-color: #f0ebff;
  }
}
