.main-nav {
  position: absolute;
  top: 60px;
  width: 100%;
  display: block;
  z-index: 2;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    width: auto;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $base-white;
  border-top: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    border: none;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.main-nav--is-close .main-nav__list {
  display: none;
}

.main-nav--is-close ~ .user-nav .user-nav__button-icon {
  background-image: url("../../icons/burger-icon.svg");
}

.main-nav:not(.main-nav--is-close) ~ .user-nav .user-nav__button-icon {
  background-image: url("../../icons/close-icon.svg");
}

.main-nav__item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item--current::after {
  position: absolute;
  display: none;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $base-primary;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__link {
  display: block;
  padding: 20px;
  color: $base-black;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    color: $base-primary;
    outline: none;
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}
