.main-nav {
  position: absolute;
  top: 60px;
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {

  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-top: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    border: none;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.main-nav--is-close .main-nav__list {
  display: none;
}

.main-nav__item {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f0ebff;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
  }
}

.main-nav__item--current::after {
  position: absolute;
  display: none;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7859cf;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__link {
  display: block;
  padding: 20px;
  color: #333333;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    color: #7859cf;
    outline: none;
  }

  &:active {
    background-color: #f0ebff;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }

  @media (min-width: $desktop-width) {

  }
}
