.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.section-title__description {
  color: $base-primary;
  text-transform: uppercase;
}

.section-title__text {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}
