.social__list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item {
  border-radius: 4px;
  overflow: hidden;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: $base-grey;

  & svg {
    display: block;
  }

  &:hover,
  &:focus {
    color: $base-primary;
    background-color: $base-secondary;
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);
  }
}
