.user-nav {
  display: block;
}

.user-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    align-items: center;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.user-nav__item {
  min-width: 60px;
}

.user-nav__item--toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-nav__button {
  padding: 22px;
  background-color: $base-white;
  border: none;
  cursor: pointer;

  & svg {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
  }
}

.user-nav__button-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.user-nav__button:focus-visible {
  border: none;
  outline: none;
}

.user-nav__button:hover,
.user-nav__button:focus,
.user-nav__button:active {
  color: $base-primary;
}

.user-nav__button:active {
  background-color: $base-secondary;
}

.user-nav__text {
  text-transform: uppercase;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
